.section {
    width: 76%;
    margin: 0 auto;
    padding: 3rem 0;
    color: white;
}

.container {
    /* height: 60vh; */
    background-color: #424890;
    padding: 2rem 6rem;
    border-radius: 1rem;
    margin: 0 11rem;
}

.container h3 {
    margin-bottom: 1rem;
}


